<a href="https://colab.research.google.com/github/jackarl/programacion_analitica/blob/main/Practica_SQL_Fintech_DML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# üìò Pr√°ctica SQL ‚Äì Fintech Databank

Este notebook contiene los **ejercicios pr√°cticos** sobre la base de datos `fintech_databank.db`.  
Tu objetivo ser√° escribir consultas SQL para resolver cada problema.

üëâ **Recuerda:** conecta la base de datos antes de empezar:
```python
%sql sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
```

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Comando para instalar una biblioteca externa
!pip install sqlalchemy
# Ejecuta esta l√≠nea de c√≥digo y se empezar√° a instalar
!pip install sqlalchemy
# Instrucci√≥n para instalar ipyhon-sql
!pip install ipython-sql

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.43)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.6/1.6 MB 16.4 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [6]:
#  paso 1# %load_ext nombre_extension
%load_ext sql

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql %sql sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])


## üîπ Instrucciones generales
1. Con√©ctate a la base de datos.  
2. Antes de cada ejercicio, revisa las tablas disponibles con:
   ```sql
   %%sql
   SELECT name FROM sqlite_master WHERE type='table';
   ```
3. Ejecuta tus consultas SQL en las celdas de c√≥digo marcadas como `%%sql`.  
4. Guarda tus respuestas en este notebook.

## Ejercicio 1. Exploraci√≥n b√°sica


- Lista todas las filas de la tabla **clientes**.  
- Muestra √∫nicamente el nombre y la ciudad de cada cliente.  
- ¬øCu√°ntos clientes hay en total?

In [13]:
%%sql
SELECT *
FROM clientes
------------------------
SELECT nombre, ciudad
FROM clientes
-----------------------
SELECT COUNT(*)
FROM clientes;

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Ejercicio 2. Cuentas de clientes


- Obt√©n todas las cuentas del cliente **C001**.  
- Lista las cuentas que est√°n en moneda **USD**.  
- Muestra el n√∫mero de cuentas que tiene cada cliente (usa `GROUP BY`).

In [17]:
%%sql
-- Escribe aqu√≠ tu consulta
SELECT *
FROM clientes
WHERE cliente_id == "C001";
--------------------------
SELECT *
FROM cuentas
WHERE moneda == "USD";
---------------------------
SELECT cliente_id, COUNT(*)
FROM cuentas
GROUP BY cliente_id;

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Ejercicio 3. Transacciones


- Obt√©n todas las transacciones de la cuenta **A1001**.  
- Calcula el **saldo neto** de esa cuenta sumando la columna `monto`.  
- Lista las transacciones que sean **comisiones**.

In [18]:
%%sql
-- Escribe aqu√≠ tu consulta
SELECT *
FROM transacciones
WHERE cuenta_id == "A1001";
--------------------------------
SELECT SUM(monto)
FROM transacciones
WHERE cuenta_id == "A1001";
--------------------------------
SELECT concepto
FROM transacciones
WHERE concepto	LIKE 'comi%';

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Ejercicio 4. Reportes con agrupaciones


- Calcula el total de transacciones (suma de `monto`) por **categor√≠a**.

In [19]:
%%sql
-- Escribe aqu√≠ tu consulta
SELECT categoria, SUM(monto)
FROM transacciones
GROUP BY categoria;

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])


## Ejercicio 5. **Modificar datos (UPDATE)**

> **Objetivo:** actualizar valores existentes usando `WHERE` de forma segura.

1. Cambia el `segmento` del cliente **C002** de *Retail* a **PYME**.  
2. Corrige la `ciudad` de **Textiles J&R (C003)** a **Saltillo**.  


> **Tip:** siempre valida primero con un `SELECT` y despu√©s aplica el `UPDATE`.

In [20]:

%%sql
-- UPDATE: agrega aqu√≠ tus sentencias

UPDATE clientes
SET segmento = 'PYME'
WHERE cliente_id = 'C002'

UPDATE clientes
SET nombre = 'Saltillo'
WHERE cliente_id = 'C003'

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])


## Ejercicio 6. **Borrar datos (DELETE)**

> **Objetivo:** eliminar filas espec√≠ficas manteniendo la integridad y usando `WHERE`.

1. Elimina **solo** las transacciones de la cuenta **A3001** del d√≠a **2025-07-12**.  
2. Elimina la **comisi√≥n** de `A2001` del **2025-07-04**.  
> **Tip:** prueba primero con `SELECT` para verificar el subconjunto a borrar.

In [25]:

%%sql

DELETE FROM transacciones
WHERE cuenta_id = 'A3001'
AND fecha = '2025-07-12';

DELETE FROM transacciones
WHERE cuenta_id = 'A2001'
AND concepto = 'comisi√≥n'

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])