<a href="https://colab.research.google.com/github/jackarl/programacion_analitica/blob/main/Pr%C3%A1ctica_15_Datos_Temporales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Práctica #15: Datos Temporales

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de limpieza y transformación de datos categóricos.

Instrucciones:

Descarga el archivo airdata.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
Crea un notebook en colab y guarda el archivo csv  en tu drive.
Agrega secciones en el colab poniendo como título el nombre de cada ejercicio

_______________________________________________________________________

Ejercicio 01:Tipo de Datos Correcto

Carga el conjunto de datos airdata.csv y verifica que cada columna tenga el tipo de datos correcto
Si una columna de tipo temporal no está en el tipo de correcto realiza la conversión.
Usa dtypes para mostrar que cada columna, principalmente la que contiene datos temporales, está en el tipo de datos correcto
Imprime las primeras tres líneas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ClassFiles/datesets/Airdata.csv')
print(df.head(3))
df.dtypes

        DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0  1/1/2020 0:00     2.180529        87    1.484318        75.96376
1  1/1/2020 1:00     1.490529        89    2.741678       113.19859
2  1/1/2020 2:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80

DateTime           object
Temperature       float64
Humidity            int64
Wind_Speed        float64
Wind_Direction    float64
NO2_Location_A    float64
NO2_Location_B    float64
NO2_Location_C    float64
dtype: object

Ejercicio 02: Extraer componentes de fecha y tiempo

De la columna 'DateTime' extrae el año, mes, día y hora. Crea una nueva columna para cada componente que extraes
Imprime las primeras tres líneas del dataframe que ahora deberá tener 4 nuevas columnas.

In [5]:
df.DateTime = pd.to_datetime(df.DateTime)
df['Year'] = df.DateTime.dt.year
df['Month'] = df.DateTime.dt.month
df['Day'] = df.DateTime.dt.day
df['Hour'] = df.DateTime.dt.hour
print(df.head(3))

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C  Year  Month  Day  Hour
0           39.23           52.88           62.37  2020      1    1     0
1           38.30           44.95           52.53  2020      1    1     1
2             NaN           48.40           54.80  2020      1    1     2

Ejercicio 03: Aritmética - Suma de Intervalos (timedelta)

Suma 10 días, 7 horas y 15 minutos a cada elemento de la columna 'DateTime'. Guarda el resultado en una nueva columna y agrega al dataframe.
Imprime la columna 'DateTime' y la columna que resulta de sumar 10 días, 7 horas y 15 minutos

In [8]:
# Convertir a datetime y sumar intervalo
df['DateTime'] = pd.to_datetime(df['DateTime'], format='%d/%m/%Y %H:%M')
delta = pd.Timedelta(days=10, hours=7, minutes=15)
df['DateTime_New'] = df['DateTime'] + delta
print(df[['DateTime', 'DateTime_New']].head(3).to_markdown(index=False))

|    DateTime |   DateTime_New |
|------------:|---------------:|
| 1.57784e+18 |    1.57873e+18 |
| 1.57784e+18 |    1.57873e+18 |
| 1.57784e+18 |    1.57873e+18 |

In [10]:
print(df.head())

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318       75.963760
1 2020-01-01 01:00:00     1.490529        89    2.741678      113.198590
2 2020-01-01 02:00:00     1.690529        85    3.563818      135.000000
3 2020-01-01 03:00:00     1.430529        84    2.811690      129.805570
4 2020-01-01 04:00:00     0.840529        86    1.800000      126.869896

   NO2_Location_A  NO2_Location_B  NO2_Location_C  Year  Month  Day  Hour  \
0           39.23           52.88           62.37  2020      1    1     0
1           38.30           44.95           52.53  2020      1    1     1
2             NaN           48.40           54.80  2020      1    1     2
3           37.28           47.18           50.80  2020      1    1     3
4           29.97           41.48           54.43  2020      1    1     4

         DateTime_New
0 2020-01-11 07:15:00
1 2020-01-11 08:15:00
2 2020-01-11 09:15:00
3 2020-01-11 10:15:00
4 2020-01-11 11:15:00

Ejercicio 04: Timestamp

Convierte la columna 'DateTime' la cual tiene un formato de fecha legible a a timestamp Unix. Guarda el resultado en una nueva columna
Imprime las primeras tres filas de  la columna 'DateTime' y la columna que representa dicha fecha en timestamp Unix

In [11]:
df["unix_timestamp"] = pd.to_datetime(df["DateTime"]).astype(int) // 10**9
print(df[["DateTime", "unix_timestamp"]].head(3).to_markdown(index=False))

| DateTime            |   unix_timestamp |
|:--------------------|-----------------:|
| 2020-01-01 00:00:00 |       1577836800 |
| 2020-01-01 01:00:00 |       1577840400 |
| 2020-01-01 02:00:00 |       1577844000 |

Ejercicio 05: Filtrado de Fechas

Utiliza la columna 'DateTime' y Filtra aquellas fechas que son mayores a 2020-11-01
Imprime el resultado

In [13]:
df.shape

(8784, 14)

In [16]:
mayor_2020_11_01 = df[df["DateTime"] > "2020-11-01"]
print(mayor_2020_11_01)

                DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
7321 2020-11-01 01:00:00    13.620529        58    6.638072       130.60129
7322 2020-11-01 02:00:00    13.980529        40    6.618519       157.61987
7323 2020-11-01 03:00:00    13.010529        43    8.209263       164.74487
7324 2020-11-01 04:00:00    12.190529        51    7.568566       154.65382
7325 2020-11-01 05:00:00    12.510529        59    7.594208       148.57043
...                  ...          ...       ...         ...             ...
8779 2020-12-31 19:00:00     4.920528        72    4.553680       251.56506
8780 2020-12-31 20:00:00     4.990529        74    3.259939       186.34020
8781 2020-12-31 21:00:00     4.360529        84   10.587917       252.18112
8782 2020-12-31 22:00:00     3.820528        88    8.435069       219.80557
8783 2020-12-31 23:00:00     3.170529        89    6.792466       212.00539

      NO2_Location_A  NO2_Location_B  NO2_Location_C  Year  Month  Day  Hour  \
7321           17.50           23.88           44.07  2020     11    1     1
7322           13.38           18.92           35.80  2020     11    1     2
7323           11.95           13.95           30.15  2020     11    1     3
7324           10.10           14.35           31.45  2020     11    1     4
7325           10.30           14.42           32.55  2020     11    1     5
...              ...             ...             ...   ...    ...  ...   ...
8779           53.44           32.65           66.82  2020     12   31    19
8780           49.80           34.03           67.31  2020     12   31    20
8781           43.32           25.55           59.33  2020     12   31    21
8782           39.88           19.90           43.70  2020     12   31    22
8783           39.04           30.33           46.87  2020     12   31    23

            DateTime_New  unix_timestamp
7321 2020-11-11 08:15:00      1604192400
7322 2020-11-11 09:15:00      1604196000
7323 2020-11-11 10:15:00      1604199600
7324 2020-11-11 11:15:00      1604203200
7325 2020-11-11 12:15:00      1604206800
...                  ...             ...
8779 2021-01-11 02:15:00      1609441200
8780 2021-01-11 03:15:00      1609444800
8781 2021-01-11 04:15:00      1609448400
8782 2021-01-11 05:15:00      1609452000
8783 2021-01-11 06:15:00      1609455600

[1463 rows x 14 columns]